@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

:root{
    --grey:#7E8597;
    --wh:#FFFFFF;
    font-size:62.5%;
}

body { background:#10151C }
footer { 
    background:#F9F9FB;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.gradient{
    color:#000;

    background: linear-gradient(to top,#43e97b,#38f9d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
  }

.hyp{
    margin-top: 1rem;
    margin-left: 1rem;
}


.center-img {
    display: block;
    margin: 0 auto;
    margin-top: 5rem;

  }

h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;
    color:aliceblue;
    text-align: center;
    margin-top: 6rem;
    
}

.text{
    
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    /* or 24px */


    /* Text/Body */

    color: var(--grey);
}


.chat{
    float: right;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4.8rem;
    border-radius: 10rem;
    background:var(--grey);

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;

    margin-top: 1rem;
    margin-right: 1rem;
    /* Text/Headlines */

    color: var(--wh);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 4.8rem;
    gap: 1rem;

    background: #FA0369;
    border-radius: 10rem;
    
    /* Button Text */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--wh);

    box-shadow: 3px 3px 5px #FA0369;

}
.button:hover{
    background: linear-gradient(45deg,#0250c5,#d43f8d);
    box-shadow: 1px 1px 2px blueviolet;
    color:honeydew
}

.con{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.item{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
/* .l1{

    margin-left: 3rem;
    margin-bottom: 1rem;
}
.l2{
    float: right;
    margin-right: 4rem;
    margin-bottom: 1rem; 
}
.l3{
    
    margin-left: 3rem;
    margin-bottom: 7rem;

}
.l4{
    float: right;
    margin-right: 3rem;
    margin-top: 0.4rem;
    margin-bottom: 7rem;

} */


.red{
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04rem;
    text-transform: uppercase;

    /* Highlight */

    color: #FA0369;
}



.liblock{
    border-radius: 2rem;
    width: 264px;
    height: 262px;
    background-color:#2e2a2a;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 2rem;
   /*  margin:0; */
    padding: 0;
    
}
/* .wrappe {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  } */

.row{
    display: flex;
    flex-wrap: wrap;
}

/* .column{
    flex:1;
    margin-left: 0.75;
    margin-right: 0.75;
} */

.st1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.h2{
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;
    text-align: center;

    /* Text/Headlines */

    color: var(--wh);

    
}

.n1{
    margin-top: 10rem;
}

.n2{
    padding-left: 2rem;
}

.b1{
    margin-bottom: 12rem;
}

.s1{
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.dv{
    
    border-radius: 2rem;
    max-width: 328px;
    height: 545px;
    background-color:#141A25;
    margin-left: auto;
    margin-right: auto;
    
}

.why{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;
    /* identical to box height */
    padding-top: 7rem;

    /* Text/Headlines */

    color: var(--wh);
}

.lets{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;
    /* identical to box height */
    


    color: #1A1A1A;
}

.h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.1rem;

    /* Text/Headlines */

    color: var(--wh);
}

.textwhy{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;

    /* Text/Headlines */

    color: var(--wh);
}

.un{
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    /* Text/Body */

    color: var(--grey);

    margin-bottom: 5rem;
}

.st{
    padding: 0.5rem 1.4rem;

    
    /*padding-right: 10rem;
    /* Highlight */
    
   

    background: #FA0369;
    border-radius: 6.3rem;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;

    text-align: center;
    color: var(--wh);
    width: max-content;
    margin-inline: auto;

    
}

ul{
    list-style: none;
    padding-left: 2rem;
}

.textst{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: center;
    color: var(--grey);
}

.li2{
    display: inline-block;
    margin-right: 2rem;
}

.dn{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;

    /* Text/Headlines */

    color:var(--wh) ;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.ll{
    margin-bottom: 2rem;
    width: 324px;
    height: 306.51px;
}



.footerr{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 180%;
    margin-top: 0;
    padding-left: 2rem;
    
    
    /* or 22px */


    color: rgba(26, 26, 26, 0.56);
}

.logos1{
    float: right;
    display: block;
}
.logos2{
    float: right;width: 10%;
    display: block;

}
.logos3{
    float: right;
    display: block;

}
.logos4{
    float: right;width: 10%;
    display:block;

    
}
.none12{
    display: none;
}
.none11{
    display: block;
}

.none21{
    display: block;
}
.none22{
    display: none;
}


.none1{
    display: block;
}
.none2{
    display: none;
}


.lets{
    font-weight: 500;
    font-size: 42px;
    line-height: 55px;
}


.noneN{
    display: none;

}

.elim1{
    width: 327px;
    height: 353.37px ;
}
.ell2{
    width: 327px;
    height: 353.37px ;
}

.footr{
    display: flex;
    justify-content:space-between;

}
.ftr2{
    padding-right: 2rem;
}
.ftr11{
    margin-bottom: 1.2rem;
}
.ftr22{
    margin-right: 2rem;
}

.ll1{

}
.girl{
    width: 327px;
    height: 386.19px;
}

@media screen and (min-width:1200px) {
    h1{
        font-weight: 500;
        font-size: 4.2rem;
        line-height: 5.2rem;
    }
    .el{
        display: flex;
        justify-content:space-between;
        margin-bottom: 8rem;
    } 
    .el1{
        width: 50rem;
        font-weight: 500;
        font-size: 48px;
        line-height: 62px;
    }
    .ll1{
        width: 560px;
        height: 600px;
        margin: 0;
    }
    .none11{
        display: none;
    }
    .none12{
        display: block;
    }


    .ell{
        display: flex;
        justify-content:space-between;
    }
    .ell2{
        width: 560px;
        height: 600px;
        margin: 0;
    }
    .ell4{
        width: 35rem;
    }
    



    .none22{
        display: block;
        margin: 0;
    }
    .none21{
        display: none;
    }
    .elll{
        display: flex;
        justify-content:space-between;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
    .elll11{
        width: 35rem;
        font-weight: 400;
        font-size: 21px;
        line-height: 150%;
    }
    .elll12{
        margin-right: 20rem;
    }
    .elllAd{
        font-weight: 500;
        font-size: 42px;
        line-height: 55px;
    }
    .girl{
        height: 630px;
        width: 560px;
    }

    .elim{
        display: flex;
        justify-content:space-between
    }
    .h3{
        font-weight: 500;
        font-size: 36px;
        line-height: 47px;
    }
    .elim22{
        width:35rem;
        font-weight: 400;
        font-size: 21px;
        line-height: 150%;
    }
    .elim1{
        margin: 0;
        width: 560px;
        height: 600px;
    }


    .noneN{
        display: block;

    }

    .eli1{
        width: 35rem;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    }
    .eli11{
        padding-top: 0;
        font-weight: 500;
        font-size: 42px;
        line-height: 55px;
    }
    .nikkk{
        margin-left: 3rem;
    }
    .dv{
        display: flex;
        max-width: 1170px;
        max-height: 496px;
        justify-content:space-between;
        margin-top: 10rem;

    }
    .eli2{
        margin: 0;
        margin-left: 2rem;
    }
    .eliN{
        margin-right: 8rem;
        position: relative;
        bottom: 9rem;
    }

    .none2{
        display:block;
        margin: 0;
        
    }
    .none1{
        display: none;
    }
 
    .elimm1{
        width: 35rem;
        font-weight: 400;
        font-size: 21px;
        line-height: 150%;
    }
    .elimm{
        display: flex;
        justify-content:space-between

    }
    .ll{
        width: 558px;
        height: 530px;
    }

    .ftr1{
        display: flex;
    }
    .ftr2{
        display: flex;
    }
    .f1{
        margin-right: 2rem;
    }
    .footerr{
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
    }

    .cntr{
        margin-top: 10rem;
    }
}